@Html.Partial("_HeaderNavBar", new ViewDataDictionary { { "name", "Wybierz poziom zaawansowania" } })
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChoseLevel</title>
</head>
<body>
    <div class="row text-center" style="height:25vh;">

        <a href="~/Exercise/ChoseExerciseLevel"><button class="col-lg-2 btn-info btn" style="height:25vh; margin-left:8vw;">1</button></a>
        <a href="~/Exercise/ChoseExerciseLevel"><button class="col-lg-2 btn-info btn" style="height:25vh;">2</button> </a>
        <a href="~/Exercise/ChoseExerciseLevel"><button class="col-lg-2 btn-info btn" style="height:25vh;">3</button> </a>
        <a href="~/Exercise/ChoseExerciseLevel"><button class="col-lg-2 btn-info btn" style="height:25vh;">4</button> </a>
        <a href="~/Exercise/ChoseExerciseLevel"><button class="col-lg-2 btn-info btn" style="height:25vh;">5</button></a>
    </div>
    <a href="~/Home/Users"><button class="col-lg-2 btn-info btn">Wstecz</button></a>
</body>

</html>

