
@{
    ViewBag.Title = "AddQuestion";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@Html.Partial("_HeaderNavBar", new ViewDataDictionary { { "name", "Dodaj pytanie" } })

@using (Html.BeginForm("AddQuestion"))
{
    <div class="form-group">
        <input class="form-control" id="question" placeholder="Treść pytania" name="question">
    </div>
    <input type="submit"  class="col-lg-2 btn-info btn" value="Dodaj"/>
}

<a href="~/Home/Psychologist"><button class="col-lg-2 btn-info btn">Wstecz</button></a>


