<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/OwnStyles.css" rel="stylesheet" />
@Html.Partial("_HeaderNavBar", new ViewDataDictionary { { "name", "Dodaj pytanie" } })

@using (Html.BeginForm("AddQuestion"))
{
    <div class="form-group">
        <input class="form-control" id="question" placeholder="Treść pytania" name="question">
    </div>
    <div class="container centering-container">
        <input type="submit" class="own-btn btn-info btn" value="Dodaj" />
    </div>
    
}

<div class="container centering-container">
    @Html.ActionLink("Wstecz", "Psychologist", "Home", null, new { @class = "own-btn btn-info btn" })
</div>
