<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="panel panel-primary">
    <div class="panel-heading">Przypisz ankietę</div>
</div>

<div class="row">
    <div class="col-lg-6">
        <form>
            @for (int i = 1; i < 10; i++)
            {
                <div class="radio">
                    <label><input type="radio" name="optradio">Ankieta @i</label>
                </div>
            }



        </form>
    </div>
    <div class="col-lg-6">
        <form>
            @for (int i = 1; i < 20; i++)
            {
                <div class="checkbox">
                    <label><input type="checkbox" value="">Użytkownik @i</label>
                </div>
            }
        </form>

    </div>


</div>
<a href="~/Home/Psychologist"><button class="col-lg-2 btn-info btn">Zapisz</button></a>
