@model List<ZSPD.Models.CreateSurveyViewModel>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="panel panel-primary">
    <div class="panel-heading">Stwórz ankietę</div>
</div>
@using (Html.BeginForm("Create", "Surveys"))
{
    for (int i = 0; i < Model.Count(); i++)
    {
        <div class="checkbox">
            @Html.HiddenFor(model => model[i].Question.Id)
            @Html.CheckBoxFor(model => model[i].AddToSurvey)
            @Html.LabelFor(model => model[i].Question.Content, Model[i].Question.Content)
        </div>
        }
    <input type="submit" class="col-lg-2 btn-info btn" value="Zapisz"/>
}
<a href="~/Home/Psychologist"><button class="col-lg-2 btn-info btn">Wstecz</button></a>
