@model IEnumerable<ZSPD.Domain.Models.EntityModels.Survey>
@{
    int i = 1;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="panel panel-primary">
    <div class="panel-heading">Stwórz ankietę</div>
</div>
    @foreach(var survey in Model)
    {
        
            <label>Ankieta @i++</label>

            <button class="col-lg-2 btn-info btn" onclick="location.href='Edit';">Edytuj</button>

             @Html.ActionLink("Usuń", "Remove", new { id= survey.Id }, new { @class = "col-lg-2 btn-info btn" })
            
        <br />
        <br />
    }




<a href="~/Home/Psychologist"><button class="col-lg-2 btn-info btn">Wstecz</button></a>
<a href="~/Home/Psychologist"><button class="col-lg-2 btn-info btn">Zapisz</button></a>