<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="panel panel-primary">
    <div class="panel-heading">Edytuj pytania</div>
</div>



    @for (int i = 1; i < 50; i++)
    {
        <form class="form-inline">
            <div class="form-group">
                <input class="form-control" id="email" placeholder="Treść pytania @i" name="email">
                
            </div>
            <a href="~/Surveys/ModifyQuestions"><button class="col-lg-2 btn-info btn">Zapisz</button></a>
        </form>
    }
<br />
<br />
<a href="~/Home/Psychologist"><button class="col-lg-2 btn-info btn">Wstecz</button></a>

