<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


@Html.Partial("_HeaderNavBar", new ViewDataDictionary { { "name", "Moduł administratora" } })

<div class="row text-center" style="height:25vh;">
    @Html.ActionLink("Załóż konto", "Register", "Account", null, new { @class = "menu-tiles btn-info btn" })
    @Html.ActionLink("Zarządzaj studentami", "StudentsManage", "Admin", null, new { @class = "menu-tiles btn-info btn" })
    @Html.ActionLink("Dodaj zagadnienie", "AddGraph", "Admin", null, new { @class = "menu-tiles btn-info btn" })
</div>