@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="panel panel-primary">
    <div class="panel-heading">Aplikacja XXX</div>
</div>


<div class="container">
    <h2 class="text-center">Logowanie</h2>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label class="control-label col-sm-2 col-sm-offset-2" for="email">Login:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="email" placeholder="Wpisz login" name="login">
            </div>
        </div>
        <div class="form-group ">
            <label class="control-label col-sm-2 col-sm-offset-2" for="pwd">Hasło:</label>
            <div class="col-sm-4 ">
                <input type="password" class="form-control" id="pwd" placeholder="Wpisz hasło" name="pwd">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox col-lg-offset-4">
                    <label><input type="checkbox" name="remember"> Zapamiętaj mnie</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class=" text-center">
                <a href="home/psychologist" type="button" class="btn btn-default">Potwierdź</a>

            </div>
            <div class="text-center">
                <button type="button" class="btn btn-default">Załóż konto</button>
            </div>

        </div>
    </form>
</div>