<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="panel panel-primary">
    <div class="panel-heading">Moduł sędziego</div>
</div>
<div class="row text-center" style="height:25vh;">
    <a href="~/Surveys/RateQuestions"><button class="col-lg-2 btn-info btn" style="height:25vh;">Oceń pytania</button></a>
</div>