<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="panel panel-primary">
    <div class="panel-heading">Moduł psychologa</div>
</div>
<div class="row text-center" style="height:25vh;">

    <a href="~/Surveys/Create"><button class="col-lg-2 btn-info btn" style="height:25vh;">Stwórz ankietę</button></a>
    <a href="~/Surveys/Assign"><button class="col-lg-2 btn-info btn" style="height:25vh;">Przypisz ankietę</button> </a>
    <a href="Surveys/ModifyQuestions"><button class="col-lg-2 btn-info btn" style="height:25vh;">Modyfikuj pytania</button> </a>
    <a href="Surveys/RateQuestions"><button class="col-lg-2 btn-info btn" style="height:25vh;">Oceń pytania</button></a>
    <a href="Surveys/Manage"><button class="col-lg-2 btn-info btn" style="height:25vh;">Zarządzanie ankietami</button></a>
    <a href="Surveys/Rate"><button class="col-lg-2 btn-info btn" style="height:25vh;">Oceń ankiety</button></a>

</div>