<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="panel panel-primary">
    <div class="panel-heading">Moduł użytkownika</div>
</div>
<div class="row text-center" style="height:25vh;">

    <a href=""><button class="col-lg-2 btn-info btn" style="height:25vh; margin-left:25vw;">Wykonaj ćwiczenie</button></a>
    <a href="~/Survey/FillSurvey"><button class="col-lg-2 btn-info btn" style="height:25vh;">Wypełnij ankietę</button> </a>


</div>