<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/OwnStyles.css" rel="stylesheet" />
@Html.Partial("_HeaderNavBar", new ViewDataDictionary { { "name", "Dodaj zagadnienie" } })
@{
    ViewBag.Title = "AddGraph";
}

@using (Html.BeginForm("UploadGraph", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Nazwa zagadnienia: </p><input type="text" name="name" id="name"/> <br />

    <label for="file1">Lista następników:</label>
    <input type="file" name="files" id="file1" />

    <label for="file2">Lista poprzedników:</label>
    <input type="file" name="files" id="file2" />

    <label for="file2">Lista zadań:</label>
        <input type="file" name="files" id="file2" />


    <input type="submit" name="Submit" id="Submit" value="Dodaj graf" />
}